body {
  background: #f2f1f0 url("/img/patterns/papergrain.png");
}
/* line 3, ../sass/app/search/_search.sass */
.btn-instant {
  font-size: 14px;
}
/* line 6, ../sass/app/search/_search.sass */
#searchBox {
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#searchBox:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../sass/app/search/_search.sass */
#searchBox label {
  text-transform: uppercase;
}
/* line 13, ../sass/app/search/_search.sass */
#searchBox #input01 {
  width: 400px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
  padding: 10px 10px;
  font-size: 21px;
}
/* line 19, ../sass/app/search/_search.sass */
#searchBox button.btn-primary {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  float: left;
}
/* line 22, ../sass/app/search/_search.sass */
#searchBox .date-select {
  width: 135px;
}
/* line 24, ../sass/app/search/_search.sass */
#searchBox .time-select {
  min-width: 80px;
}
/* line 27, ../sass/app/search/_search.sass */
#controls {
  margin-bottom: 20px;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#controls:after {
  content: "";
  display: table;
  clear: both;
}
/* line 31, ../sass/app/search/_search.sass */
#controls #toggle .toggle-display {
  float: right;
}
/* line 33, ../sass/app/search/_search.sass */
#controls #toggle .toggle-display #showList, #controls #toggle .toggle-display #showMap {
  color: #888883;
  cursor: pointer;
}
/* line 36, ../sass/app/search/_search.sass */
#controls #toggle .toggle-display #showList.active, #controls #toggle .toggle-display #showMap.active {
  color: #555550;
  cursor: default;
}
/* line 39, ../sass/app/search/_search.sass */
#controls #toggle .summary {
  float: left;
  padding-top: 6px;
  font-size: 14px;
}
/* line 43, ../sass/app/search/_search.sass */
#controls #toggle #summary_loading {
  display: block;
  width: 24px;
  height: 24px;
  background: url(/img/icons/spinner_small.gif) no-repeat 0px 0px;
}
/* line 48, ../sass/app/search/_search.sass */
#controls #toggle #filter {
  float: left;
  margin-right: 10px;
  padding: 9px 0 7px 0;
  width: 150px;
}
/* line 55, ../sass/app/search/_search.sass */
#controls #summary_and_filter {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}
/* line 59, ../sass/app/search/_search.sass */
#controls #summary_and_filter #num_results {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 63, ../sass/app/search/_search.sass */
#controls #summary_and_filter #filter {
  color: #ab3f97;
  cursor: pointer;
}
/* line 66, ../sass/app/search/_search.sass */
#controls .clear {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#controls .clear:after {
  content: "";
  display: table;
  clear: both;
}
/* line 68, ../sass/app/search/_search.sass */
#filters {
  position: relative;
  top: 0px;
  table-layout: fixed;
  width: 100%;
  border: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 75, ../sass/app/search/_search.sass */
#filters #features, #filters #body_style, #filters #time {
  vertical-align: top;
}
/* line 78, ../sass/app/search/_search.sass */
#filters #features .filter_name, #filters #body_style .filter_name, #filters #time .filter_name {
  font-size: 15px;
  font-family: "sommet-rounded-bold", Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
}
/* line 82, ../sass/app/search/_search.sass */
#filters #features .filter_modify, #filters #body_style .filter_modify, #filters #time .filter_modify {
  float: right;
  padding-top: 2px;
}
/* line 85, ../sass/app/search/_search.sass */
#filters .filter {
  line-height: 1.1em;
  margin-bottom: 5px;
}
/* line 88, ../sass/app/search/_search.sass */
#filters #features .filter, #filters #body_style .filter, #filters #time .filter, #filters #features .filter_modify, #filters #body_style .filter_modify, #filters #time .filter_modify {
  color: #00a1b1;
  cursor: pointer;
  font-size: 12px;
}
/* line 92, ../sass/app/search/_search.sass */
#filters #features .filter.active, #filters #body_style .filter.active, #filters #time .filter.active {
  color: #25787f;
  font-weight: 700;
  cursor: pointer;
  background-image: url(/images/filter_indicator.png);
  background-repeat: no-repeat;
  background-position: 0px 4px;
  padding-left: 10px;
}
/* line 100, ../sass/app/search/_search.sass */
#filters #features .filter.disabled, #filters #body_style .filter.disabled, #filters #time .filter.disabled {
  color: #b3b3b3;
  font-weight: 500;
  cursor: default;
}
/* line 104, ../sass/app/search/_search.sass */
#filters #features {
  padding: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 107, ../sass/app/search/_search.sass */
#filters #body_style {
  padding: 20px;
}
/* line 109, ../sass/app/search/_search.sass */
#filters #time {
  padding: 20px 35px 0px 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 112, ../sass/app/search/_search.sass */
#filters #time .filter_label {
  width: 52px;
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
}
/* line 117, ../sass/app/search/_search.sass */
#filters #time .date-select {
  min-width: 80px;
}
/* line 119, ../sass/app/search/_search.sass */
#filters #time .time-select {
  min-width: 95px;
}
/* line 122, ../sass/app/search/_search.sass */
#filters #time.disabled .filter_label {
  color: #b3b3b3;
}
/* line 128, ../sass/app/search/_search.sass */
#resultlist #sort {
  text-align: center;
  padding: 10px;
  border: 1px solid #d5d5d0;
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 136, ../sass/app/search/_search.sass */
#resultlist #sort #sort_text .gray {
  color: #888883;
  padding: 0px 4px;
}
/* line 139, ../sass/app/search/_search.sass */
#resultlist #sort #sort_text .current_sort {
  color: #f78b20;
  cursor: default;
}
/* line 142, ../sass/app/search/_search.sass */
#resultlist #sort #sort_text .other_sort {
  color: #777777;
  cursor: pointer;
}
/* line 145, ../sass/app/search/_search.sass */
#resultlist #car_results {
  position: relative;
  margin-bottom: 20px;
}
/* line 149, ../sass/app/search/_search.sass */
#resultlist #car_results .title h3 {
  color: #00a1b1;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 152, ../sass/app/search/_search.sass */
#resultlist #car_results .duration {
  font-family: "微软雅黑";
  font-size: 14px;
  position: relative;
  top: 2px;
}
/* line 157, ../sass/app/search/_search.sass */
#resultlist #car_results .distance {
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 5px;
}
/* line 161, ../sass/app/search/_search.sass */
#resultlist #car_results .distance .icon,
#resultlist #car_results .distance .muted {
  font-weight: normal;
}
/* line 164, ../sass/app/search/_search.sass */
#resultlist #car_results .distance .icon {
  color: #afafa9;
  margin-right: 2px;
}
/* line 167, ../sass/app/search/_search.sass */
#resultlist #search_result_hook {
  position: relative;
}
/* line 169, ../sass/app/search/_search.sass */
#resultlist #car_results .car_result, #resultlist #search_result_hook .car_result {
  padding: 20px;
  border-bottom: 1px solid #afafa9;
}
/* line 172, ../sass/app/search/_search.sass */
#resultlist #car_results .emphasis, #resultlist #search_result_hook .emphasis {
  color: #4d4d4d;
  font-weight: 700;
}
/* line 175, ../sass/app/search/_search.sass */
#resultlist #car_results .photo, #resultlist #search_result_hook .photo {
  position: relative;
}
/* line 177, ../sass/app/search/_search.sass */
#resultlist #car_results .carkit_overlay, #resultlist #search_result_hook .carkit_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 181, ../sass/app/search/_search.sass */
#resultlist #car_results .car_photo, #resultlist #search_result_hook .car_photo {
  width: 150px;
  height: 100px;
  margin-right: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 187, ../sass/app/search/_search.sass */
#resultlist #car_results .photo {
  float: left;
}
/* line 189, ../sass/app/search/_search.sass */
#resultlist #car_results .action {
  text-align: center;
}
/* line 191, ../sass/app/search/_search.sass */
#resultlist #car_results .badge, #resultlist #search_result_hook .badge {
  top: 63px;
  color: #009900;
  font-weight: 600;
}
/* line 195, ../sass/app/search/_search.sass */
#resultlist #car_results .request, #resultlist #search_result_hook .request, #resultlist #car_results .in_queue, #resultlist #search_result_hook .in_queue, #resultlist #car_results .not_available, #resultlist #search_result_hook .not_available, #resultlist #car_results .rented_out, #resultlist #search_result_hook .rented_out, #resultlist #car_results .manual_transmission, #resultlist #search_result_hook .manual_transmission {
  bottom: -2px;
  height: 29px;
}
/* line 199, ../sass/app/search/_search.sass */
#resultlist #car_results .request, #resultlist #search_result_hook .request {
  text-align: center;
}
/* line 204, ../sass/app/search/_search.sass */
#resultlist #car_results .hover_details, #resultlist #search_result_hook .hover_details {
  display: none;
}
/* line 206, ../sass/app/search/_search.sass */
#resultlist #car_results .in_queue, #resultlist #search_result_hook .in_queue {
  color: #46a546;
}
/* line 208, ../sass/app/search/_search.sass */
#resultlist #car_results .in_queue h3 {
  display: block;
  color: #46a546;
}
/* line 211, ../sass/app/search/_search.sass */
#resultlist #car_results .request h3 {
  display: none;
}
/* line 213, ../sass/app/search/_search.sass */
#resultlist #car_results .in_queue button {
  display: none;
}
/* line 215, ../sass/app/search/_search.sass */
#resultlist #car_results .request button {
  margin: 0 41px;
  margin-left: 22%;
  width: 100px;
  white-space: nowrap;
}
/* line 226, ../sass/app/search/_search.sass */
#resultlist #car_results .list_loading, #resultlist #search_result_hook .list_loading {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(/img/icons/spinner_medium.gif);
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 323, ../sass/app/search/_search.sass */
#queue {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 326, ../sass/app/search/_search.sass */
#main, #side {
  display: inline-block;
  vertical-align: top;
}
/* line 331, ../sass/app/search/_search.sass */
.addthis_small .addthis_toolbox {
  width: 90px;
  margin: 0 auto;
}
/* line 334, ../sass/app/search/_search.sass */
.addthis_large {
  padding: 20px 0;
}
/* line 336, ../sass/app/search/_search.sass */
.addthis_large .addthis_toolbox {
  width: 150px;
}
/* line 338, ../sass/app/search/_search.sass */
#transmission_dialog {
  width: 400px;
  padding: 10px;
  background: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
/* line 343, ../sass/app/search/_search.sass */
#transmission_dialog h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
}
/* line 347, ../sass/app/search/_search.sass */
#transmission_dialog #yes_manual, #transmission_dialog #no_manual {
  cursor: pointer;
  font-weight: 500;
  width: 340px;
  height: 25px;
  margin-left: 30px;
  margin-bottom: 10px;
}
/* line 354, ../sass/app/search/_search.sass */
#transmission_dialog #yes_manual {
  color: green;
}
/* line 356, ../sass/app/search/_search.sass */
#transmission_dialog #no_manual {
  color: red;
}
/* line 358, ../sass/app/search/_search.sass */
#transmission_dialog #fine_print {
  text-align: center;
  font-size: 12px;
  color: gray;
}