<?xml version="1.0"?>
<!--<authentication mode="Forms">
    <forms loginUrl="Login.aspx"></forms>
</authentication>-->
<authentication mode="Forms">
  <forms loginUrl="/Account/Login.aspx"
         protection="All"
         timeout="30"
         name=".ASPXAUTH"
         path="/"
         slidingExpiration="true"
         defaultUrl="Default.aspx"
         cookieless="UseDeviceProfile"/>
</authentication>

