<?xml version="1.0"?>
<membership defaultProvider="memProvider">
    <providers>
        <clear/>
        <add name="memProvider" type="BLL.AspMembershipProvider" connectionStringName="sqlconn"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10" applicationName="/"/>
    </providers>
</membership>
